# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/lib/
functions/node_modules/

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
serviceAccountKey.json
*.tsbuildinfo
